@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

/* root variables */
:root {
    --body-font: "Montserrat", sans-serif;
    --alt-font: "Indie Flower", cursive;
    --code-font: "Courier Prime", monospace;

    --action-red-60: #E8C0B4;
    --action-red-100: #E10F09;
    --action-blue: #23BBBB;

    --text-color: #4A4A4F;
    --text-alt-white: #FCFDFD;
    --text-alt-blue: #445261;
    --text-blue: #058282;

    --accent-pink: #FBBABC;
    --accent-orange: #F3D377;
    --accent-green: #95E8BC;
    --accent-blue: #A1D2F5;
    --accent-grey: #D6D7D8;

    --box-shadow: rgba(0, 0, 0, 0.25);
}

/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-shadow {
    -webkit-box-shadow: 0px 8px 16px var(--box-shadow);
    box-shadow: 0px 8px 16px var(--box-shadow);
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
}

#page-heading {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#page-title > h1 {
    font-weight: 800;
    font-size: 2.25em;
}

.sm-note {
    font-style: italic;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding-top: 16px;
}

.flashcard-row {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.flashcard-body {
    width: 92%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    margin: 20px auto;

    border-radius: 12px;
    background-color: var(--text-alt-white);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.header > img {
    max-width: 28%;
}

.text-heading {
    width: 100%;
    font-weight: 600;
}
.text-heading > h2 {
    font-family: var(--alt-font);
    font-size: 1.75rem;
    color: var(--action-red-100);

}

.flashcard-container {
    padding: 20px;
    border-radius: 4px;
    min-width: 100%;
}

/* bullet point resets */
.bullet-point {
    display: flex;
    align-items: flex-start;
    margin: 16px 0;
}


@media only screen and (min-width: 1024px) {
    #page-heading {
        padding: 40px 80px 20px;
    }
    .sm-note {
        display: none;
    }
    .flashcard-row {
        flex-direction: row;
        padding: 20px 40px;
        gap: 24px;
    }
    .flashcard-body {
        width: 50%;
        padding: 40px;
        min-height: 580px;
    }
    #single-flashcard {
        width: 84%;
        max-width: 1080px;
    }
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        gap: 16px;
    }
    .header > img {
        order: 2;
        max-width: 16%;
    }
    .text-heading {
        order: 1;
        margin-top: 40px;
    }
}
