@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

/* root variables */
:root {
    --body-font: "Montserrat", sans-serif;
    --alt-font: "Indie Flower", cursive;
    --code-font: "Courier Prime", monospace;

    --action-red-60: #e8c0b4;
    --action-red-100: #e10f09;
    --action-blue: #23bbbb;

    --text-color: #4a4a4f;
    --text-alt-white: #fcfdfd;
    --text-alt-blue: #445261;
    --text-blue: #058282;

    --accent-pink: #fbbabc;
    --accent-orange: #f3d377;
    --accent-green: #95e8bc;
    --accent-blue: #a1d2f5;
    --accent-grey: #d6d7d8;

    --box-shadow: rgba(0, 0, 0, 0.25);
}

/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-shadow {
    -webkit-box-shadow: 0px 8px 16px var(--box-shadow);
    box-shadow: 0px 8px 16px var(--box-shadow);
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
}

#page-heading {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#page-title > h1 {
    font-weight: 800;
    font-size: 2.25em;
}

/* bullet point resets */
.bullet-point {
    display: flex;
    align-items: flex-start;
    margin: 16px 0;
}

.sm-note {
    font-style: italic;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding-top: 16px;
}

.flashcard-row {
    display: flex;
    gap: 12px;
    flex-flow: row wrap;
}

.flashcard-body {
    max-width: 92%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;

    margin: 20px auto;

    border-radius: 12px;
    background-color: var(--text-alt-white);
}

.header > h2 {
    font-weight: 600;
    font-family: var(--alt-font);
    font-size: 1.75rem;
    color: var(--action-red-100);
}


.red {
    color: var(--action-red-100);
}

.flashcard-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.box-header {
    background-color: var(--text-alt-blue);
    color: var(--text-alt-white);
    border-radius: 4px 4px 0 0;
}

.box-container {
    display: flex;
    width: 100%;
    padding: 8px 12px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    gap: 8px;
}

.box-border {
    border: 1px solid var(--accent-grey);
}

.box-title {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1.25px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.box-title > img {
    width: 20px;
    height: 20px;
}

.box-right {
    text-align: right;
}

@media only screen and (min-width:768px){
    .flashcard-body {
        min-height: 140px;
        flex-basis: 0%;
        max-width: 45%;
    }
}

@media only screen and (min-width: 1024px) {
    #page-heading {
        padding: 40px 80px 20px;
    }
    .sm-note {
        display: none;
    }
    #flashcards {
        padding: 0px 40px;
    }
    .flashcard-row {
        flex-direction: row;
        padding: 20px 40px;
        gap: 24px;
    }
    .flashcard-body {
        min-width: 420px;
        max-width: 420px;
        flex-basis: 24%;
    }
}
