@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

/* root variables */
:root {
    --body-font: "Montserrat", sans-serif;
    --alt-font: "Indie Flower", cursive;
    --code-font: "Courier Prime", monospace;

    --action-red-60: #e8c0b4;
    --action-red-100: #e10f09;
    --action-blue: #23bbbb;

    --text-color: #4a4a4f;
    --text-alt-white: #fcfdfd;
    --text-alt-blue: #445261;
    --text-blue: #058282;

    --accent-pink: #fbbabc;
    --accent-orange: #f3d377;
    --accent-green: #95e8bc;
    --accent-blue: #a1d2f5;
    --accent-grey: #d6d7d8;

    --box-shadow: rgba(0, 0, 0, 0.25);
}

/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-shadow {
    -webkit-box-shadow: 0px 8px 16px var(--box-shadow);
    box-shadow: 0px 8px 16px var(--box-shadow);
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
}

#page-heading {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#page-title > h1 {
    font-weight: 800;
    font-size: 2.25em;
}

.sm-note {
    font-style: italic;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding-top: 16px;
}

.flashcard-row {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.flashcard-body {
    width: 92%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    margin: 20px auto;

    border-radius: 12px;
    background-color: var(--text-alt-white);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.header > img {
    max-width: 28%;
}

.text-heading {
    width: 100%;
    font-weight: 600;
}
.text-heading > h2 {
    font-family: var(--alt-font);
    font-size: 1.75rem;
    color: var(--action-red-100);
}

.red {
    color: var(--action-red-100);
}

.flashcard-container {
    padding: 20px;
    border-radius: 4px;
    min-width: 100%;
}

/* bullet point resets */
.bullet-point {
    display: flex;
    align-items: flex-start;
    margin: 16px 0;
}

/* 
table resets 
credit to: https://codepen.io/mohammed2raja/pen/NWaeGvG
*/
.responsive-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.responsive-table tr {
    padding: 0.35em;
}

.responsive-table th,
.responsive-table td {
    word-wrap: break-word;
    padding: 0.625em;
    border: 1px solid var(--accent-grey);
}

.responsive-table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 900;
    text-align: left;
}

/* show/hide styling */
.sm-only {
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .responsive-table {
        border: 0;
    }

    .responsive-table tbody td[scope="row"] {
        background-color: var(--text-blue);
        color: var(--text-alt-white);
    }

    .responsive-table thead {
        display: none;
    }

    .responsive-table tr {
        display: block;
        margin-bottom: 0.625em;
    }

    .responsive-table td {
        display: block;
        font-size: 0.8em;
        text-align: right;
    }
    .responsive-table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media only screen and (min-width: 601px) {
    .responsive-table thead {
        display: contents;
    }

    .responsive-table tr:first-child th {
        border-top: 0;
    }
    .responsive-table tr:last-child td {
        border-bottom: 0;
    }
    .responsive-table tr td:first-child,
    .responsive-table tr th:first-child {
        border-left: 0;
        width: 16%;
    }
    .responsive-table tr td:last-child,
    .responsive-table tr th:last-child {
        border-right: 0;
    }

    /* show/hide styling */
    .sm-only {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    #page-heading {
        padding: 40px 80px 20px;
    }
    .sm-note {
        display: none;
    }
    .flashcard-row {
        flex-direction: row;
        padding: 20px 40px;
        gap: 24px;
    }
    .flashcard-body {
        width: 50%;
        padding: 40px;
        min-height: 580px;
    }
    #single-flashcard {
        width: 84%;
        max-width: 1080px;
    }
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        gap: 16px;
    }
    .header > img {
        order: 2;
        max-width: 16%;
    }
    .text-heading {
        order: 1;
        margin-top: 40px;
    }
}
