<!-- For use when there is an additional or optional step that can be useful -->

<div id="extra-end-container">
    <div id="extra-end-title">
        <div class="alt-text subtitle">
            GOT ANOTHER STEP OR IDEA TO INCLUDE?
        </div>
        <div>
            ADD YOUR TEXT HERE
        </div>
        <div>
            <span class="code-text red">
                ADD YOUR CODE HERE
            </span>
        </div>
    </div>
    <div id="extra-end-img">
        <img src="https://4060571.fs1.hubspotusercontent-na1.net/hubfs/4060571/library-assets/lightbulb_yellow.svg" alt="yellow lightbulb icon">
    </div>
</div>