<div class="step code-block">
    <div class="code-text box-shadow dark-box">
        <div class="code-margin">
            <span class="orange">import</span> os
        </div>
        <div class="code-margin">
            <span>
                <span class="orange">if</span> os.path.<span class="green">exists</span>(<span class="blue">"env.py"</span>):
            </span>
        </div>
        <div class="code-indent">
            <span>
                <span class="orange">import</span> env
            </span>
        </div>
    </div>
</div>