<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../assets/css/checklist/checklist.css" />
        <title>Checklist Template</title>
    </head>
    <body>
        <section id="checklist-card" class="box-shadow">
            <div id="header">
                <div id="header-text">
                    <h1>Checklist:</h1>
                    <div id="header-icon">
                        <img
                        src="../assets/images/icons/checklist_circle_secondary.svg"
                        alt="Blue checklist logo with checkmark in circle"
                        />
                    </div>
                </div>
                <hr id="header-hr" />
            </div>
            <div id="title">
                <h2 id="title-heading">
                    Checklist Name
                </h2>
                <span id="title-text">Checklist subtext</span>
            </div>
            <div id="step-list">
                <div class="step">
                    <label class="checkbox-icon">
                        <input name="checkbox" type="checkbox" /> 
                        <span>
                            Create a file named <span class="code-text red">env.py</span> in the root directory of the project (at the same level as your <span class="code-text red">README</span>). This is where your environment variables will live.
                        </span>
                    </label>
                </div>
                <div id="end-container">
                    <img
                        src="../assets/images/icons/tada_icon_secondary.svg"
                        alt="Blue tada icon with confetti exploding from cone"
                        id="end-icon"
                    />
                    <div>
                        Your template is ready to use!
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
