<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../assets/css/flashcards/multi-flashcard.css" />
        <title>Multi Flashcard Template</title>
    </head>
    <body>
        <nav>
            <a href="../../bitesize.html">Bitesize</a>
            <a href="../../checklist.html">Checklists</a>
            <a href="../../flashcards.html">Flash</a>
        </nav>
        <div id="page-heading">
            <div id="page-title">
                <h1>
                    PAGE TITLE
                </h1>
            </div>
            <div id="page-info">
                <div class="bullet-point">
                    <img src="https://4060571.fs1.hubspotusercontent-na1.net/hubfs/4060571/library-assets/arrow-right_secondary.svg" alt="blue arrow pointing right">
                    <span>
                        Lorem ipsum dolor sit amet consectetur. Vulputate rutrum urna turpis blandit ut mattis in at. 
                    </span>
                </div>
                <div class="bullet-point">
                    <img src="https://4060571.fs1.hubspotusercontent-na1.net/hubfs/4060571/library-assets/arrow-right_secondary.svg" alt="blue arrow pointing right">
                    <span>
                        Lacus faucibus id ut urna integer posuere. Diam enim morbi habitasse bibendum fringilla donec vulputate. 
                    </span>
                </div>
                <div class="bullet-point">
                    <img src="https://4060571.fs1.hubspotusercontent-na1.net/hubfs/4060571/library-assets/arrow-right_secondary.svg" alt="blue arrow pointing right">
                    <span>
                        Vitae sed lorem egestas volutpat vitae ac gravida varius. Blandit imperdiet lectus ut consectetur tincidunt nisl. 
                    </span>
                </div>
                <div class="bullet-point">
                    <img src="https://4060571.fs1.hubspotusercontent-na1.net/hubfs/4060571/library-assets/arrow-right_secondary.svg" alt="blue arrow pointing right">
                    <span>
                        Arcu nulla non tellus tempor amet tortor elementum ullamcorper nibh. Turpis lacus aliquam consequat nibh.
                    </span>
                </div>
            </div>
            <div class="sm-note">
                <p>
                    * Note: Flashcards are optimised for larger screens due to their compact design. 
                </p>
            </div>
        </div>
        <div id="flashcards">
            <div class="flashcard-row">
                <div class="flashcard-body box-shadow">
                    <div class="header">
                        <h2>
                            FLASHCARD TITLE
                        </h2>
                    </div>
                    <div class="flashcard-container">
        
                        <!-- CODE BLOCK -->
                        <div class="code-block">
                            <div class="code-text code-container box-shadow">
                                <div class="code-margin">
                                    <span class="orange">#example {</span>
                                </div>
                                <div class="code-indent">
                                    <span>
                                        <span class="blue">display</span>: <span class="green">flex</span>;
                                    </span>
                                    <br>
                                    <span>
                                        <span class="blue">padding</span>: <span class="green">20px</span>;
                                    </span>
                                </div>
                                <div class="code-margin">
                                    <span>
                                        <span class="orange">}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
        
                        <!-- STEPS -->
                        <div class="bullet-point">
                            <img src="https://4060571.fs1.hubspotusercontent-na1.net/hubfs/4060571/library-assets/arrow-right_secondary.svg" alt="blue arrow pointing right">
                            <span>
                                Lorem ipsum dolor sit amet consectetur. Vulputate rutrum urna turpis blandit ut mattis in at. 
                            </span>
                        </div>
                        <div class="bullet-point">
                            <img src="https://4060571.fs1.hubspotusercontent-na1.net/hubfs/4060571/library-assets/arrow-right_secondary.svg" alt="blue arrow pointing right">
                            <span>
                                Lacus faucibus id ut urna integer posuere. Diam enim morbi habitasse bibendum fringilla donec vulputate. 
                            </span>
                        </div>
                        <div class="bullet-point">
                            <img src="https://4060571.fs1.hubspotusercontent-na1.net/hubfs/4060571/library-assets/arrow-right_secondary.svg" alt="blue arrow pointing right">
                            <span>
                                Vitae sed lorem egestas volutpat vitae ac gravida varius. Blandit imperdiet lectus ut consectetur tincidunt nisl. 
                            </span>
                        </div>
                    </div>
                </div>
                <div class="flashcard-body box-shadow">
                    <div class="header">
                        <h2>
                            FLASHCARD TITLE
                        </h2>
                    </div>
                    <div class="flashcard-container">
        
                        <!-- CODE BLOCK -->
                        <div class="code-block">
                            <div class="code-text code-container box-shadow">
                                <div class="code-margin">
                                    <span class="orange">#example {</span>
                                </div>
                                <div class="code-indent">
                                    <span>
                                        <span class="blue">display</span>: <span class="green">flex</span>;
                                    </span>
                                    <br>
                                    <span>
                                        <span class="blue">padding</span>: <span class="green">20px</span>;
                                    </span>
                                </div>
                                <div class="code-margin">
                                    <span>
                                        <span class="orange">}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
        
                        <!-- STEPS -->
                        <div class="bullet-point">
                            <img src="https://4060571.fs1.hubspotusercontent-na1.net/hubfs/4060571/library-assets/arrow-right_secondary.svg" alt="blue arrow pointing right">
                            <span>
                                Lorem ipsum dolor sit amet consectetur. Vulputate rutrum urna turpis blandit ut mattis in at. 
                            </span>
                        </div>
                        <div class="bullet-point">
                            <img src="https://4060571.fs1.hubspotusercontent-na1.net/hubfs/4060571/library-assets/arrow-right_secondary.svg" alt="blue arrow pointing right">
                            <span>
                                Lacus faucibus id ut urna integer posuere. Diam enim morbi habitasse bibendum fringilla donec vulputate. 
                            </span>
                        </div>
                        <div class="bullet-point">
                            <img src="https://4060571.fs1.hubspotusercontent-na1.net/hubfs/4060571/library-assets/arrow-right_secondary.svg" alt="blue arrow pointing right">
                            <span>
                                Vitae sed lorem egestas volutpat vitae ac gravida varius. Blandit imperdiet lectus ut consectetur tincidunt nisl. 
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flashcard-row">
                <div class="flashcard-body box-shadow">
                    <div class="header">
                        <h2>
                            FLASHCARD TITLE
                        </h2>
                    </div>
                    <div class="flashcard-container">
        
                        <!-- CODE BLOCK -->
                        <div class="code-block">
                            <div class="code-text code-container box-shadow">
                                <div class="code-margin">
                                    <span class="orange">#example {</span>
                                </div>
                                <div class="code-indent">
                                    <span>
                                        <span class="blue">display</span>: <span class="green">flex</span>;
                                    </span>
                                    <br>
                                    <span>
                                        <span class="blue">padding</span>: <span class="green">20px</span>;
                                    </span>
                                </div>
                                <div class="code-margin">
                                    <span>
                                        <span class="orange">}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
        
                        <!-- STEPS -->
                        <div class="bullet-point">
                            <img src="https://4060571.fs1.hubspotusercontent-na1.net/hubfs/4060571/library-assets/arrow-right_secondary.svg" alt="blue arrow pointing right">
                            <span>
                                Lorem ipsum dolor sit amet consectetur. Vulputate rutrum urna turpis blandit ut mattis in at. 
                            </span>
                        </div>
                        <div class="bullet-point">
                            <img src="https://4060571.fs1.hubspotusercontent-na1.net/hubfs/4060571/library-assets/arrow-right_secondary.svg" alt="blue arrow pointing right">
                            <span>
                                Lacus faucibus id ut urna integer posuere. Diam enim morbi habitasse bibendum fringilla donec vulputate. 
                            </span>
                        </div>
                        <div class="bullet-point">
                            <img src="https://4060571.fs1.hubspotusercontent-na1.net/hubfs/4060571/library-assets/arrow-right_secondary.svg" alt="blue arrow pointing right">
                            <span>
                                Vitae sed lorem egestas volutpat vitae ac gravida varius. Blandit imperdiet lectus ut consectetur tincidunt nisl. 
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
