@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

/* root variables */
:root {
    --body-font: "Montserrat", sans-serif;
    --alt-font: "Indie Flower", cursive;
    --code-font: "Courier Prime", monospace;

    --action-red-60: #E8C0B4;
    --action-red-100: #E10F09;
    --action-blue: #23BBBB;

    --text-color: #4A4A4F;
    --text-alt-white: #FCFDFD;
    --text-alt-blue: #445261;
    --text-blue: #058282;

    --accent-pink: #FBBABC;
    --accent-orange: #F3D377;
    --accent-green: #95E8BC;
    --accent-blue: #A1D2F5;
    --accent-grey: #D6D7D8;

    --box-shadow: rgba(0, 0, 0, 0.25);
}

/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.box-shadow {
    -webkit-box-shadow: 0px 8px 16px var(--box-shadow);
    box-shadow: 0px 8px 16px var(--box-shadow);
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
}

.text-heading {
    font-family: var(--body-font);
    font-size: 3rem;
    color: var(--text-alt-blue);
}

.alt-text {
    font-family: var(--alt-font);
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
}

#template-body {
    width: 96%;
    max-width: 700px;
    margin: 20px auto;

    border-radius: 12px;
    background-color: var(--text-alt-white);
}

.section-margin {
    margin: 20px auto;
    padding: 8px 0;
}
.section-padding {
    padding: 12px 0;
}

/* text resets */
.code-text {
    font-family: var(--code-font);
}
.bold-text {
    font-weight: 900;
}
.red {
    color: var(--action-red-100);
}
.code-red {
    color: var(--action-red-60);
}
.orange {
    color: var(--accent-orange);
}
.blue {
    color: var(--accent-blue);
}
.secondary-blue {
    color: var(--action-blue);
}
.text-blue {
    color: var(--text-blue);
}
.green {
    color: var(--accent-green);
}
.pink {
    color: var(--accent-pink);
}

/* header styling */
#header {
    padding: 20px 0 32px;
}
#header-text {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#header-text span {
    line-height: 1.5;
}
#header-hr {
    max-width: 688px;
    height: 0px;

    border: 2px solid rgba(0, 0, 0, 0.01);
    box-shadow: 0px 4px 8px var(--box-shadow);
    margin: auto;
}
.sec-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 12px auto;
}
.sec-header > img {
    width: 24px;
    height: 24px;
}

/* footer styling */
#footer-icon {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px 40px;
}
#footer-icon > img {
    max-width: 40%;
}

/* main body styling */

.body {
    padding: 20px;
    line-height: 24px;
}

.icon-heading {
    display: flex;
    gap: 4px;
}

.icon-heading > img {
    width: 24px;
    height: 24px;
}


/* bullet point resets */
.bullet-point {
    display: flex;
    align-items: flex-start;
    margin: 16px 0;
}

/* code block resets */
.code-block {
    display: flex;
    justify-content: center;
}
.code-container {
    min-width: 100%;
    padding: 24px;
    border-radius: 12px;
    color: var(--text-alt-white);
    background-color: var(--text-alt-blue);
    overflow-x: scroll;
    white-space: nowrap;
}
.code-margin {
    margin-bottom: 8px;
}

/* code indents resets */
.code-indent {
    padding-left: 20px;
}
.code-indent2 {
    padding-left: 24px;
}
.code-indent3 {
    padding-left: 36px;
}
.code-indent4 {
    padding-left: 48px;
}

/* flex block resets */
.flex-block {
    display: flex;
    justify-content: center;
}
.flex-container {
    display: flex;
    gap: 12px;
    min-width: 100%;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--action-blue);
}
.flexbox-item {
    display: flex;
    color: var(--text-alt-blue);
    background-color: var(--text-alt-white);
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    width: 64px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

#flex-direction-col {
    flex-direction: column;
}
#flex-direction-reverse {
    flex-direction: row-reverse;
}
#flex-wrap {
    flex-wrap: wrap;
}
#flex-wrap > .flexbox-item,
#flex-nowrap > .flexbox-item {
    min-width: 64px;
}
#flex-nowrap {
    overflow-x: scroll;
}
#justify-content-center {
    justify-content: center;
}
#justify-content-space {
    justify-content: space-around;
}
#align-items-center {
    align-items: center;
}
#align-items-stretch {
    height: 150px;
    align-items: stretch;
}
#align-items-stretch > .flexbox-item {
    min-height: 100%;
    align-items: flex-start;
    padding-top: 6px;
}


/* show/hide styling */
.sm-only {
    display: inline-block;
}
.lg-only {
    display: none;
}


/* media query styling */
@media only screen and (min-width: 600px) {

    /* show/hide styling */
    .sm-only {
        display: none;
    }
    .lg-only {
        display: flex;
    }

    #footer-icon > img {
        max-width: 20%;
    }
    .text-heading {
        font-size: 3.5rem;
    }
    
    #template-body {
        width: 100%;
    }
    #header-text {
        padding: 20px 40px;
    }

    .body {
        padding: 20px 40px;
    }

    .code-container {
        font-size: 14px;
        overflow-x: hidden;
    }
}