@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

/* root variables */
:root {
    --body-font: "Montserrat", sans-serif;
    --alt-font: "Indie Flower", cursive;
    --code-font: "Courier Prime", monospace;

    --action-red-60: #ef8e6e;
    --action-red-100: #E84610;
    --action-blue: #23bbbb;

    --text-color: #4a4a4f;
    --text-alt-white: #fcfdfd;
    --text-alt-blue: #445261;

    --accent-pink: #ff5a60;
    --accent-orange: #efb920;
    --accent-green: #00cc5f;
    --accent-blue: #009fe3;
    --accent-grey: #d6d7d8;

    --box-shadow: rgba(0, 0, 0, 0.25);
}

/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.box-shadow {
    -webkit-box-shadow: 0px 8px 16px var(--box-shadow);
    box-shadow: 0px 8px 16px var(--box-shadow);
}


body {
    font-family: var(--body-font);
    color: var(--text-color);
}

.text-heading {
    font-family: var(--body-font);
    font-size: 3rem;
    color: var(--text-alt-blue);
}

.alt-heading {
    font-family: var(--alt-font);
    font-size: 20px;
    letter-spacing: 2px;
}

#template-body {
    width: 96%;
    max-width: 700px;
    margin: 20px auto;

    border-radius: 12px;
    background-color: var(--text-alt-white);
}

.section-margin {
    margin: 20px auto;
    padding: 8px 0;
}
.section-padding {
    padding: 0 0 12px;
}

.sm-only {
    display: inline-block;
}
.lg-only {
    display: none;
}

.m-width {
    max-width: 100%;
}

.text-center {
    text-align: center;
}



/* header styling */
#header {
    padding: 20px 0 32px;
}
#header-text {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#header-text span {
    line-height: 1.5;
}
#header-hr {
    max-width: 688px;
    height: 0px;

    border: 2px solid rgba(0, 0, 0, 0.01);
    box-shadow: 0px 4px 8px var(--box-shadow);
    margin: auto;
}

/* footer styling */
#footer-icon {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px 40px;
}
#footer-icon > img {
    max-width: 40%;
}

/* main body styling */

.body {
    padding: 20px;
    line-height: 24px;
}

/* code block resets */
.code-block {
    display: flex;
    justify-content: center;
}
.code-container {
    min-width: 100%;
    padding: 24px;
    border-radius: 12px;
    color: var(--text-alt-white);
    background-color: var(--text-alt-blue);
}
.code-margin {
    margin-bottom: 8px;
}

/* code indents resets */
.code-indent {
    padding-left: 20px;
}
.code-indent2 {
    padding-left: 28px;
}
.code-indent3 {
    padding-left: 36px;
}
.code-indent4 {
    padding-left: 48px;
}
.code-indent5 {
    padding-left: 56px;
}

/* code text resets */
.code-text {
    font-family: var(--code-font);
}
.red {
    color: var(--action-red-100);
}
.orange {
    color: var(--accent-orange);
}
.blue {
    color: var(--action-blue);
}
.green {
    color: var(--accent-green);
}
.pink {
    color: var(--accent-pink);
}

/* Do's and Don'ts styling */
.thumbs-row {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 24px;
}

.thumbs-row > img {
    width: 24px;
    height: 24px;
}

.final-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* media query styling */
@media only screen and (min-width: 600px) {

    .sm-only {
        display: none;
    }
    .lg-only {
        display: inline-block;
    }
    #footer-icon > img {
        max-width: 20%;
    }
    .text-heading {
        font-size: 3.5rem;
    }
    
    #template-body {
        width: 100%;
    }
    #header-text {
        padding: 20px 40px;
    }

    .body {
        padding: 20px 40px;
    }

    /* Do's and Don'ts styling */
    .thumbs-section {
        display: flex;
        gap: 20px;
    }
    .left-col-lg, .right-col.lg {
        max-width: 50%;
    }
}