@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

/* root variables */
:root {
    --body-font: "Montserrat", sans-serif;
    --alt-font: "Indie Flower", cursive;
    --code-font: "Courier Prime", monospace;

    --action-red-60: #E8C0B4;
    --action-red-100: #E10F09;
    --action-blue: #23BBBB;

    --text-color: #4A4A4F;
    --text-alt-white: #FCFDFD;
    --text-alt-blue: #445261;
    --text-blue: #058282;

    --accent-pink: #FBBABC;
    --accent-orange: #F3D377;
    --accent-green: #95E8BC;
    --accent-blue: #A1D2F5;
    --accent-grey: #D6D7D8;

    --box-shadow: rgba(0, 0, 0, 0.25);
}

/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.box-shadow {
    -webkit-box-shadow: 0px 8px 16px var(--box-shadow);
    box-shadow: 0px 8px 16px var(--box-shadow);
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
}

.text-heading {
    font-family: var(--body-font);
    font-size: 2.5rem;
    color: var(--text-alt-blue);
    padding-bottom: 2px;
}

.alt-text {
    font-family: var(--alt-font);
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
}

#template-body {
    width: 96%;
    max-width: 700px;
    margin: 20px auto;

    border-radius: 12px;
    background-color: var(--text-alt-white);
}

.section-margin {
    margin: 20px auto;
    padding: 8px 0;
}

.section-padding {
    padding: 12px 0;
}

/* text resets */
.code-text {
    font-family: var(--code-font);
}

.bold-text {
    font-weight: 900;
}

.red {
    color: var(--action-red-100);
}

.code-red {
    color: var(--action-red-60);
}

.orange {
    color: var(--accent-orange);
}

.blue {
    color: var(--accent-blue);
}

.secondary-blue {
    color: var(--action-blue);
}

.text-blue {
    color: var(--text-blue);
}

.green {
    color: var(--accent-green);
}

.pink {
    color: var(--accent-pink);
}

/* header styling */
#header {
    padding: 20px 0 3px;
}

#header-text {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 6px 20px;
}

#header-text span {
    line-height: 1.5;
}

#header-hr {
    max-width: 688px;
    height: 0px;

    border: 2px solid rgba(0, 0, 0, 0.01);
    box-shadow: 0px 4px 8px var(--box-shadow);
}

.sec-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 12px auto;
}

.sec-header>img {
    width: 24px;
    height: 24px;
}

 /* Idea point reset */
 .idea-section {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}
.idea-img {
    display: flex;
    gap: 12px;
    align-items: center;
}
.idea-text {
    display: flex;
    gap: 12px;
    flex-direction: column;
    text-align: justify;
}

#divider-hr {
    max-width: 688px;
    height: 0px;

    border: 2px solid rgba(0, 0, 0, 0.01);
    box-shadow: 0px 4px 8px var(--box-shadow);
}

/* media query styling */
@media only screen and (min-width: 600px) {
    .idea-img {
        align-items: flex-end;
    }
}

/* footer styling */
#footer-icon {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px 40px;
}

#footer-icon>img {
    max-width: 40%;
}

/* main body styling */

.body {
    padding: 20px;
    line-height: 24px;
}

.icon-heading {
    display: flex;
    gap: 4px;
}

.icon-heading>img {
    width: 24px;
    height: 24px;
}


/* bullet point resets */
.bullet-point {
    display: flex;
    align-items: flex-start;
    margin: 16px 0;
}

/* code block resets */
.code-block {
    display: flex;
    justify-content: center;
}

.code-container {
    display: flex;
    justify-content: flex-start;
    min-width: 100%;
    padding: 24px;
    border-radius: 12px;
    color: var(--text-alt-white);
    background-color: var(--text-alt-blue);
    overflow-x: scroll;
    white-space: nowrap;
}

.code-margin {
    margin-bottom: 8px;
}

/* code indents resets */
.code-indent {
    padding-left: 20px;
}

.code-indent2 {
    padding-left: 24px;
}

.code-indent3 {
    padding-left: 36px;
}

.code-indent4 {
    padding-left: 48px;
}

#end-container {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

#end-icon {
    max-width: 80%;
    padding-right: 20px;
    width: 40%;
}

/* show/hide styling */
.sm-only {
    display: inline-block;
}

.lg-only {
    display: none;
}

/* number points styling - React & Python versions */
.circle-points {
    display: flex;
    align-items: flex-start; 
    gap: 8px;
}
.circle, .circle-light {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 4px 8px;
    border: 2px solid var(--action-red-100);
    font-weight: 900;
}
.circle {
    color: var(--text-alt-white);
    
}
.circle-light {
    display: flex;
    align-items: center;
    justify-content: center;
}
.point-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.inner-point {
    font-size: 14px;
}
.info-block {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 20px;
    font-style: italic;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
}
.ex-img > img {
    max-width: 100%;
}

.code-container > img {
    padding: 2%;
}


/* media query styling */
@media only screen and (min-width: 600px) {

    /* show/hide styling */
    .sm-only {
        display: none;
    }

    .lg-only {
        display: flex;
    }

    #footer-icon>img {
        max-width: 20%;
    }

    .text-heading {
        font-size: 3.5rem;
    }

    #template-body {
        width: 100%;
    }

    #header-text {
        padding: 20px 40px;
    }

    .body {
        padding: 20px 40px;
    }

    .code-container {
        display: flex;
        justify-content: center;
        font-size: 14px;
        overflow-x: auto;
    }

    .flex-shrink-lg {
        width: 120px;
    }

    .circle-light {
        padding: 12px 24px;
        font-size: 36px;
        width: 48px;
        height: 52px;
    }
    .circle-points {
        gap: 12px;
    }
}
